# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# IDE
.vscode/

# Environment
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/
.cache/
.python_packages/
