# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.vscode/

# Environment
.env

# Logs
logs/
*.log
reports/
!reports/
reports/*
!reports/multi-ma/
reports/multi-ma/*
!reports/multi-ma/research-video-strategy.html

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/
.cache/
.python_packages/
